@use "./base/variables";
@use "./base/global";

@use "./components/cards";
@use "./components/navbar";
@use "./components/sidebar";
@use "./components/tables";
@use "./components/charts";

.layout{
display:flex;
}

.main{
flex:1;
}

.content{
padding:20px;
}