@use "./variables" as *;

/* ===============================
   GLOBAL RESET
================================ */
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: $bg-light;
  color: $text-dark;
}


/* ===============================
   MAIN LAYOUT
================================ */
.layout {
  display: flex;
  height: 100vh;
}


/* ===============================
   MAIN SECTION
================================ */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $bg-light;
}


/* ===============================
   PAGE CONTENT
================================ */
.page-content {
  padding: 25px;
  overflow-y: auto;
  flex: 1;
}