/* ===============================
   COLOR SYSTEM
================================ */

/* PRIMARY COLORS */
$primary: #2563eb;
$secondary: #1e293b;

/* BACKGROUND */
$bg-light: #f4f6f8;
$bg-dark: #020617;

/* TEXT COLORS */
$text-light: #ffffff;
$text-dark: #1f2937;

/* CARD */
$card-bg: #ffffff;


/* ===============================
   STATUS COLORS
================================ */
$success: #22c55e;
$warning: #f59e0b;
$danger: #ef4444;


/* ===============================
   UI SETTINGS
================================ */
$radius: 12px;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.08);