@use "../base/variables" as *;

.status-card {
  background: $card-bg;
  padding: 25px;
  border-radius: $radius;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  width: 220px;

  &.success { border-left: 5px solid $success; }
  &.warning { border-left: 5px solid $warning; }
  &.danger { border-left: 5px solid $danger; }

  h2 {
    margin-top: 10px;
  }
}