@use "../base/variables" as *;

.navbar {
  background: $primary;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
  }
}