@use "../base/variables" as *;

.navbar {
  height: 60px;
  background: #1f2d3d;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;


  .nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
  }
}