@use "../base/variables" as *;

.sidebar {
  width: 240px;
  background: #2f5bd3;
  color: white;
  padding: 20px;

  nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 40px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }

  a.active {
    font-weight: bold;
  }
}